<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.gacl.dao.SchoolAdmissionScoreMapper" >
  <resultMap id="BaseResultMap" type="me.gacl.domain.SchoolAdmissionScore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="school_code" property="schoolCode" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="batch" property="batch" jdbcType="VARCHAR" />
    <result column="max_score" property="maxScore" jdbcType="INTEGER" />
    <result column="average_score" property="averageScore" jdbcType="INTEGER" />
    <result column="min_score" property="minScore" jdbcType="INTEGER" />
    <result column="gmt_created" property="gmtCreated" jdbcType="DATE" />
    <result column="gmt_modified" property="gmtModified" jdbcType="DATE" />

  </resultMap>

  <sql id="Base_Column_List" >
    school_name, year, province,max_score,average_score,min_score
  </sql>

  <select id="verifyScore" resultMap="BaseResultMap" parameterType="me.gacl.domain.SchoolAdmissionScore" >
    select
    <include refid="Base_Column_List" />
    from school_admission_score
    where school_name = #{school_name,jdbcType=VARCHAR} and year=#{year,jdbcType=VARCHAR} an
    d province = #{province.jdbcType=VARCHAR}
  </select>

  <select id="selectSchoolsByAverageScore"  resultMap = "BaseResultMap" >
    select * from school_admission_score where province = #{province,jdbcType=VARCHAR} and year =  #{year,jdbcType=VARCHAR} and average_score &gt;=  #{minScore} and average_score &lt;=  #{maxScore}
  </select>


  <select id="selectSchoolsByMinScore"  resultMap = "BaseResultMap" >
    select * from school_admission_score where province = #{province,jdbcType=VARCHAR} and year =  #{year,jdbcType=VARCHAR} and min_score &gt;=  #{minScore} and min_score &lt;=  #{maxScore}
  </select>

  <insert id="insertSchoolAdmissionScore" parameterType="me.gacl.domain.SchoolAdmissionScore" >
    insert into school_admission_score (school_name,school_code, year,province,max_score,average_score,min_score,batch,gmt_created,gmt_modified)
    values (#{schoolName,jdbcType=VARCHAR},#{schoolCode,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR}, #{maxScore,jdbcType=INTEGER},#{averageScore,jdbcType=INTEGER},#{minScore,jdbcType=INTEGER},#{batch,jdbcType=VARCHAR},now(),now())
  </insert>


</mapper>